/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding: 24px;
}

@supports (display: grid) {
  html {
    padding: 0;
  }
}

/* Acccessibility */
fieldset[aria-hidden="true"] {
  display: none;
}

/* Form Elements */
button,
input,
label {
  display: block;
}
input {
  width: 100%;

  background: #BBB;
  border: 0;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  padding: 0;
}
input:focus {
  outline: 0;
  background: #999;
}

input[type="checkbox"] {
  width: auto;
}

/* Page Layout */

body {
  display: grid;
  grid-template-rows: 24px [header-start] auto [header-end] 24px [main-start] auto [main-end];
  grid-template-columns: 24px [header-start main-start] auto [header-end main-end] 24px;
}

#header {
  grid-area: header;
}
#main {
  grid-area: main;
}

/* Form Layout */
.account-prompt {
  display: flex;
  align-items: baseline;
}
